<div class="container">
  <div class="row">
    <div class="col-md-12 text-center py-5">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <section>
    <h2>Slick carousel</h2>
    <slick-carousel class="carousel" [config]="configuration">
      <div slick-carousel-item *ngFor="let slide of slides">
        <img src="{{ slide.img }}" alt="" width="100%">
      </div>
    </slick-carousel>
  </section>
  <hr>
  <section>
    <h2>Bootstrap select as a component</h2>
    <form [formGroup]="bootstrapSelectGroup">
      <bootstrap-select formControlName="bootstrapSelect" [options]="options"></bootstrap-select>
    </form>
  </section>
  <hr>
  <section>
    <h2>Bootstrap select as a directive</h2>
    <select class="selectpicker d-block" bootstrapSelect [(ngModel)]="bootstrapSelectDirectiveModel">
      <option *ngFor="let option of directiveOptions" bootstrap-select-item>{{ option }}</option>
    </select>
    <pre class="my-3">Selected option: <b>{{ bootstrapSelectDirectiveModel }}</b></pre>
    <div class="my-3">
      <button class="btn btn-primary mr-2" (click)="addSelectItem()">
        Add option
      </button>
      <button class="btn btn-danger" (click)="removeSelectItem()">
        Remove option
      </button>
    </div>

  </section>
  <hr>
</div>
