<div class="container">
  <div class="row">
    <div class="col-md-12 text-center py-5">
      <h1>jQuery components to Angular 6</h1>
    </div>
  </div>
  <section>
    <h2>Slick carousel</h2>
    <slick-carousel class="carousel" [config]="configuration">
      <div slick-carousel-item *ngFor="let slide of slides">
        <img src="{{ slide.img }}" alt="" width="100%">
      </div>
    </slick-carousel>
  </section>
  <hr>
  <section>
    <h2>Bootstrap select as a component</h2>
    <form [formGroup]="bootstrapSelectGroup">
      <bootstrap-select formControlName="bootstrapSelect">
        <option *ngFor="let option of options">{{ option }}</option>
      </bootstrap-select>
    </form>
  </section>
  <hr>
  <section>
    <h2>Bootstrap select as a directive</h2>
    <select class="selectpicker" bootstrapSelect [(ngModel)]="bootstrapSelectDirectiveModel">
      <option *ngFor="let option of options">{{ option }}</option>
    </select>
  </section>
  <hr>
</div>
